<!DOCTYPE html>
<html lang="{{ language }}">
<head>
<!-- {{ os }} *** {{ platform }} *** {{ agent }} *** {{ browser }} -->
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="*** AdvanceMentalHealthGroup *** (mkaro)">
  {%- if title -%}
<title>{{ title }}</title>
  {%- else -%}
<title>AdvanceMentalHealth Viewer Main Page</title>
  {%- endif -%}
<link href="{{ url_for('static', filename='css/bootstrap' + bootstrap + '.css') }}{{ vsc }}" rel="stylesheet" type="text/css" media="screen">
<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css">

{% block default_styles %}{% endblock %}

<link href="{{ url_for('static', filename='css/jquery-ui.custom.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/style') }}.global.css{{ vsc }}" rel="stylesheet" type="text/css">

{% block header_styles %}{% endblock %}
{% block styles %}{% endblock %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.color.min.js') }}"></script>
  {%- if auth -%}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {%- endif -%}
<script src="{{ url_for('static', filename='js/verge.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/core.min.js') }}{{ vsc }}"></script>
{% block starter %}{% endblock %}
<link rel="shortcut icon" href="{{ root }}static/img/favicon.ico">
</head>
<body>

<div class="" id="html-container">

{% block sidebar_content %}{% endblock %}

<div id="dataFrame">

{% if show_flash %}

<section id="flash-section">
  
  {% for message in get_flashed_messages() %}

    <div class="flash">{{ _(message) }}</div>

  {% endfor %}
  
</section>

{% endif %}

<section id="header-section">

  {% block header %}{% include 'default-header.html' %}{% endblock %}

</section>

{% block page_content %}{% endblock %}

</div>

</div>

<script type="text/javascript">
<!--
// Core definitions
// ----------------
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$IS_MOBILE = {{ is_mobile }};
$IS_FRAME = {{ is_frame }};
$IS_DEMO = {{ is_demo }};

root = '{{ root }}';
back = '{{ back }}';
baseURI = '{{ root }}{{ base }}';
//-->
</script> 

{% block final_scripts %}{% endblock %}

</body>
</html>
